.u-mb-05 {
  margin-bottom: 5px;
}

.u-mr-05 {
  margin-right: 5px;
}

.u-my-05 {
  margin-bottom: 5px;
  margin-top: 5px;
}

.u-mb-1 {
  margin-bottom: 1rem;
}

.u-mb-2 {
  margin-bottom: 2rem;
}

.u-mt-2 {
  margin-top: 2rem;
}

.u-ml-05 {
  margin-left: 5px;
}

.u-ml-2 {
  margin-left: 2rem;
}

.u-mLetter-2::first-letter {
  margin-left: 2rem;
}

.u-align-center {
  display: inline-flex;
  align-items: center;
}

.u-d-block {
  display: block;
}

.u-opacity-0 {
  opacity: 0;
}

.u-d-none {
  display: none;
}

.u-text-muted {
  color: grey;
}

.u-d-flex {
  display: flex;
}
